@charset "UTF-8";
/*! 盛邦升华 */
li {
  list-style: none; }

/*合写部分*/
.tue .tve {
  margin-top: 12px;
  padding: 0 12px 0 12px; }
  .tue .tve img {
    width: 100%; }

/*合写部分*/
/*header*/
body {
  background-color: #f3f3f3; }

/*header*/
.navbar {
  margin-bottom: 15px;
  border: none; }

.navbar-brand {
  float: none;
  height: 0px;
  padding: 0px; }

.navbar-brand img {
  height: 50px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px; }

.navbar-default {
  background-color: #080808;
  border-color: #337ab7; }

.navbar-toggle {
  padding: 9px 10px;
  margin-top: 21px;
  background-color: #fff;
  border-radius: 5px; }

.navbar-default .navbar-nav > li > a {
  color: #efefef;
  text-align: center; }

/*header*/
/*首页轮播*/
.cut {
  padding: 0 12px; }

.cut img {
  width: 100%; }

.appear {
  display: block; }

.disappear {
  display: none; }

/*首页轮播*/
.scv {
  padding: 0 12px; }

.scv .civ {
  padding: 0;
  margin-bottom: 8px;
  margin-top: 6px;
  background-color: #fff; }

.scv .civ img {
  padding: 0;
  width: 100%; }

.scv .civ p {
  padding: 0;
  font-size: 14px;
  margin-top: 12px;
  text-align: center; }

/*腕表页*/
.boot {
  padding: 0px 12px 0px 12px; }
  .boot .tean {
    background-color: #fff;
    text-align: center;
    margin-bottom: 25px; }
    .boot .tean img {
      width: 50%; }
    .boot .tean p {
      color: #000;
      margin-bottom: 90px;
      margin-top: 24px;
      font-size: 16px; }
  .boot .tve {
    background-color: #fff;
    margin-bottom: 25px; }
    .boot .tve img {
      width: 100%;
      margin-top: 20px; }
    .boot .tve p {
      color: #000;
      margin-bottom: 10px;
      margin-top: 24px;
      font-size: 16px; }

/*详情页*/
.tol {
  line-height: 25px;
  font-family: serif;
  padding: 0 12px; }
  .tol .nutv {
    background-color: #fff; }
    .tol .nutv h3 {
      margin: 16px 0;
      text-align: center; }
  .tol .tcr {
    margin: 12px 0;
    background-color: #fff; }
    .tol .tcr p {
      margin: 0px 100px 15px 100px;
      text-align: center;
      border: 1px #000 solid;
      background-color: #fff; }
      .tol .tcr p a {
        color: #000; }

/*详情页*/
/*腕表页*/
/*关于我们*/
.aver {
  padding: 0px 12px; }
  .aver h4 {
    padding: 0px 8px 0px 8px; }
  .aver .acr {
    width: 100%;
    font-size: 10px;
    background-color: #fff;
    text-align: center;
    padding: 0px; }
    .aver .acr p {
      font-family: serif;
      margin-bottom: 70px; }
    .aver .acr img {
      width: 100%; }
  .aver .pic {
    margin-top: 12px;
    background-color: #fff;
    padding: 0; }
    .aver .pic img {
      width: 100%; }
    .aver .pic p {
      padding: 0px 10px 0px 10px;
      font-size: 10px;
      font-family: serif;
      color: #000; }

.tue {
  padding: 0 12px 0 12px; }
  .tue .tve {
    padding: 0;
    background-color: #fff; }
    .tue .tve p {
      padding-left: 36px;
      margin: 28px 0px 29px 0px;
      font-family: serif;
      color: #000; }

/*关于我们*/
/*footer*/
.footer .tube img {
  margin-top: 6%;
  width: 10%; }

.footer .cove {
  margin-top: 12px; }

.footer .tube {
  background-color: #fff;
  width: 100%;
  padding: 20px 0; }

.footer-nut .col-xs-12 {
  font-size: 24px; }

/*footer*/
.tea {
  color: #080808;
  width: 50px;
  height: 50px; }
