
body{
  background-color: #f3f3f3;
}
/*header*/
.navbar {
   margin-bottom: 15px;
   border: none;
}
.navbar-brand {
  float: none;
  height: 0px;
  padding:0px;
}
.navbar-brand img{
  height: 50px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}
.navbar-default {
  background-color: #080808;
  border-color: #337ab7;
}
.navbar-toggle {
  padding: 9px 10px;
  margin-top: 21px;
  background-color: #fff;
  border-radius: 5px;
}
.navbar-default .navbar-nav>li>a {
  color: #efefef;
  text-align: center;
}
/*header*/
/*首页轮播*/
.cut img{
  width: 100%;
}
.appear{
  display: block;
}
.disappear{
  display: none;
}
/*首页轮播*/
.scv .civ{
  margin-bottom: 8px;
  margin-top: 6px;
  background-color: #fff;
}
.scv .civ img{
  width: 100%;
}
.scv .civ p{
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
}


/*footer*/
.footer .tube img{
  margin-top: 6%;
  width: 10%;
}
.footer .tube{
  background-color: #fff;
  width: 100%;
  padding: 20px 0;
}
.footer-nut .col-xs-12{
  font-size: 24px;
}
/*footer*/
.tea{
  color: #080808;
  width: 50px;
  height: 50px;
}